body {
	background: #f7f7f7;
}

button {
	font-family: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',TradeGothicforNike365-BdCn,'Nike TG','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    border-style: solid;
    border-color: #111111;
    border-width: 1px;
    border-radius: 2px;
    background-color: #111111;
    margin-top: 30px;
    padding: 10px 10px;
}

form {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(17, 17, 17);
    line-height: 18px;
    letter-spacing: 0.44999998807907104px;
    word-spacing: -0.800000011920929px;
}

h1 {
	font-family: 'TradeGothicW01-BoldCn20 675334','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    color: black;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
}