<!DOCTYPE html>
<html>
  <head>
    <title>Shannon</title>

    <link rel="stylesheet"  href="/static/style.css">
    <script type="text/javascript" src="/static/workForm.js"></script>
  </head>

  <body>
    
<h1>Automate your workout selection</h1>
<!--lifted the CSS from Nike's site -->


<div class="workoutInputs">
<form id="inputForm" method="POST" >
	Muscle Group: <input type="text" name="muscleGroup" id="muscleGroup"> <br>
	Number of Excercises: <input type="numeric" name="numEx" id="numEx"> <br>
  <button id="mememe" type="button" class="press" type="submit">Submit</button>
</form>
</div>
  </body>
</html>
